/* GERERAL */

div, img {
	box-sizing: border-box;
}

body {
	background: #383838;
	font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */

nav {
	background-color: black;
	width: 100%;
	position: fixed;
	z-index: 100;
}

nav ul {
	float: right;
	margin-bottom: 0;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	padding: 15px 15px;
	color: white;
	margin-top:10px;
}

nav ul li a:hover {
	background: white;
	color: black;
}


img {
	max-width: 100%;
}

.loading img {
	display: block;
	margin: 0 auto;
}
.loading p {
	color: #F07A0D;
	font-size: 16px;
	text-align: center;
	margin-bottom: 5px;
}



.imgwrap {
	height: 400px;
	margin-top: 40px;
	float: left;
	width: 23%;
	margin-right: 2%;
}

.imgwrap p {
	float: right;
	color: #F07A0D;
	font-size: 24px;
	letter-spacing: 1px;
}

.imgwrap img {
	max-height: 350px;
	width: auto;
	margin: 0 auto;
}

.imgwrap i.fa-heart {
	display: block;
	cursor: pointer;
	float: left;
}

i:hover {
	color: red;
}



