/* GERERAL */
body {
	background: #383838;
	font-family: 'Montserrat', sans-serif;
}

body > div {
	margin-top: 100px;
}

div, img {
	box-sizing: border-box;
}

p {
	color: white;
}

/* NAVBAR */

nav {
	background-color: black;
	width: 100%;
	position: fixed;
	z-index: 100;
	top: 0;
	height: 40px;
}

nav ul {
	float: right;
	margin-bottom: 0;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	padding: 15px 15px;
	color: white;
	margin-top:10px;
}

nav ul li a:hover {
	background: white;
	color: black;
}

/* GALLERY */

img {
	max-width: 100%
}

.loading img {
	display: block;
	margin: 0 auto;
}

.loading p {
	color: #F07A0D;
	font-size: 16px;
	text-align: center;
	margin-bottom: 5px;
}

.imgwrap {
	margin-top: 40px;
	float: left;
	width: 23%;
	margin-right: 2%;
	padding: 10px;
	background: #3f3f3f;
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);}

.imgwrap:nth-of-type(4n+1) {
	clear: both;
}

.imgwrap > p {
	width: 100%;
	font-size: 12px;
	margin-bottom: 0;
	text-align: center;
}

.imgwrap .text p {
	float: left;
	color: #F07A0D;
	font-size: 24px;
	letter-spacing: 1px;
	margin-bottom: 0;
}

.imgwrap .text .url {
	font-size: 12px;
	color: white;
	float: left;
	margin-right: 1%;
	margin-bottom: 0;
}
.imgwrap img {
	max-height: 350px;
	width: auto;
	margin: 0 auto;
}

.imgwrap i.fa-heart {
	display: block;
	cursor: pointer;
	float: left;
}

.imgwrap > a {
	display: block;
	width: 100%;
}

i:hover {
	color: red;
}

/* ADS */

.topad {
	position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    top: 5px;
    z-index: 1000;
}

.leftad {
	position: absolute;
	left: 5px;
}

.rightad {
	position: absolute;
	right: 5px;
}
